<a href="https://colab.research.google.com/github/k4sourav/Python_Lessons_AB/blob/main/Assignment_Statements%2C_Indentation_and_Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

### As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

* if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

* if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

* if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3' 

* if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [38]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date = str(input('Input the date in \'YYYY-MM-DD\' format: '))

Input the date in 'YYYY-MM-DD' format: 2021-01-01

In [39]:
# Write your code using if else statements to extract the quarter
#date_year = 
#date_month = 

if user_date > '2020-01-01' and user_date < '2020-03-31' :
  print("2020-Q1")
elif user_date > '2020-03-31' and user_date < '2020-06-30' :
  print("2020-Q2")
elif user_date > '2020-06-30' and user_date < '2020-09-30' :
  print("2020-Q3")
elif user_date > '2020-09-30' and user_date < '2020-12-31' :
  print("2020-Q4")
else :
  print('Date out of range.')

# Store the quarter value in a string variable named quarter

Date out of range.

## <u>Problem 2 </u>

* You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [50]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

* Find the mean and median heights and weights of the people in your locality

In [152]:
# Calculate the mean height and print it
total_height = locality_data['Height']
mean_height = sum(total_height)/len(total_height)
print('Mean height is', mean_height)

# Check if the number of elements in the list is even or odd
height = len(total_height)%2==0
print ('Given range of height is Even.'*(height==True),'Given range of height is Odd'*(height==False))

# Calculate the median height and print it
sort_height = sorted(total_height)
x = (len(sort_height)/2)
y = (sort_height[int(x)-1]+sort_height[int(x)])/2
z = sort_height[int(x)]
print('Median height is',y*(height==True), z*(height==False))


# Calculate the mean weight and print it
total_weight = locality_data['Weight']
mean_weight = sum(total_weight)/len(total_weight)
print('Mean height is',mean_weight)

# Check if the number of elements in the list is even or odd
weight = len(total_weight)%2==0
print ('Given range of weight is Even.'*(weight==True),'Given range of weight is Odd'*(weight==False))

# Calculate the median weight and print it
sort_weight = sorted(total_weight)
a = (len(sort_weight)/2)
b = (sort_weight[int(a)-1]+sort_weight[int(a)])/2
c = sort_weight[int(a)]
print('Median weight is',b*(weight==True), c*(weight==False))

Mean height is 171.0
 Given range of height is Odd
Median height is 0.0 170
Mean height is 66.2
 Given range of weight is Odd
Median weight is 0.0 64

* Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [79]:
# Python code to print the first three elements for the key 'Age'

ages = locality_data['Age']
ages[0:3]

[42, 29, 35]

In [153]:
ages = locality_data['Age'][0:3]
print(ages)

[42, 29, 35]

* Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'

In [100]:
type_name = input('Enter first letter of the Name in capital: ')

Enter first letter of the Name in capital: Rashmi

In [155]:
# Your code below
last2_elements = locality_data['Name']
x = last2_elements[-2:]
y = x.index(type_name)

if y == 0 or y > 0 :
  print(x)
else :
  print('Name not found.')

['Rashmi', 'Vaishali']

## <u> Problem 3 </u>

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user
* Number of classes held
* Number of classes attended.

In [119]:
# Enter your input

print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
100
Number of classes attended
75

In [122]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

print(f'The attendance is {attendance}%')

The attendance is 75.0%

And print the following statements based on the condition above

* percentage of class attended
* Is student is allowed to sit in exam or not.

In [156]:
# Your code here
if attendance >= 75.0 :
  print('Your attendance is above or equal to 75%. You are eligible to appear in exams.') 
else :
  print('Your attendance is below 75%. You are not eligible to appear in exams.')

Your attendance is above or equal to 75%. You are eligible to appear in exams.

## <u>Problem 4</u>

### A school has following rules for grading system:
* Below 25 - F
* 25 to 45 - E
* 45 to 50 - D
* 50 to 60 - C
* 60 to 80 - B
* Above 80 - A

Keep the left number inclusive and the right number exclusive, something like [25,45) for grade E where the set is closed at 25 and open at 45.

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [148]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
80

In [149]:
# Your code here to print the corresponding grade

if marks < 25 :
  print('F')
if marks >= 25 and marks < 45 :
  print('E')
if marks >= 45 and marks < 50 :
  print('D')
if marks >= 50 and marks < 60 :
  print('C')
if marks >= 60 and marks <= 80 :
  print('B')
if marks > 80 :
  print('A')

B