<a href="https://colab.research.google.com/github/k4sourav/Python_Lessons_AB/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [ ]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

print(max_temp)
print(max_temp_index)

42
4

In [ ]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

print(min_temp)
print(min_temp_index)

29
2

In [ ]:
# Swap the highest and the lowest temperatures
temperatures[(min_temp_index)] = temperatures[(max_temp_index)]

In [ ]:
# Print the output list
print(temperatures)

[34, 40, 42, 33, 42, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [21]:
# List of product prices
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360, 250, 1001]

In [22]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1886.4545454545455

### Calculate the median price

In [23]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 1001, 15000]

In [24]:
# Check if the number of elements in the list is even or odd
number = len(sorted_prices)%2==0
print ('Even'*(number==True),'Odd'*(number==False))

 Odd

In [27]:
# Use the corresponding formula to calculate the median and print the median
x = (len(sorted_prices)/2)
y = (sorted_prices[int(x)-1]+sorted_prices[int(x)])/2
z = sorted_prices[int(x)]
print(y*(number==True), z*(number==False))

0.0 600

In [28]:
# Check which is greater, mean or median
print('Mean is greater.'*(mean_price>y) , 'Mode is greater.'*(mean_price<y))

Mean is greater.

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :  Because mean is always average of all the data available in a list, while median only takes into consideration either the middle value in a list or average of two middle values in a list depending upon whether the list containg odd or even number of elements repectively.

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [ ]:
# Write your code below
print(tech_companies[0:3]+tech_companies[3][0:3])

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [ ]:
# Do the same task another way
print(tech_companies[0:3]+tech_companies[3][-3:])

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']